@model IEnumerable<ApointementSystem.Models.PostModel.Post>

<div class="container mt-5">
    <h2 class="mb-4">Manage Posts</h2>
    <a class="btn btn-primary mb-3" asp-controller="PostM" asp-action="Create">Add New Post</a>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Name</td>
                    <td>
                        @if(post.Status == true)
                        {
                            <span class="badge text-success">Active</span>
                        }
                        else
                        {
                            <span class="badge text-danger">Inactive</span>
                        }
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-controller="PostM" asp-action="Edit" asp-route-id="@post.PostId">Edit</a>
                        @if (post.Status)
                        {
                            <a class="btn btn-sm btn-danger" asp-controller="PostM" asp-action="Deactive" asp-route-id="@post.PostId">Deactivate</a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-success" asp-controller="PostM" asp-action="Activate" asp-route-id="@post.PostId">Activate</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
